.menuBtn {
    z-index: 999999;
    grid-area: 1/3;
    justify-self: end;
}

.menuBtn:hover {
    cursor: pointer;
}

.one, .two, .three {
    display: inline-block;
}

/* 
    Style 1
*/

.style1 {
    --btn-width: 30px;
    --transition-dur: 250ms;

    position: relative;
    width: var(--btn-width);
    height: var(--btn-width);
}

.style1 .one, .style1 .two, .style1 .three {
    position: absolute;
    left: 0;
    width: var(--btn-width);
    height: 2px;
    border-radius: 1px;
    background-color: black;
    transition-property: top, transform;
    transition-duration: var(--transition-dur);
}

.style1 .one {
    top: calc(50% - 3px);
}

.style1 .two {
    top: calc(50% + 3px);
}

.style1 .three {
    display: none;
}

.menu__state_open_style1 .one {
    top: 50%;
    transform: rotate(45deg);
}

.menu__state_open_style1 .two {
    top: 50%;
    transform: rotate(-45deg);
}

/* 
    Style 2
*/

.style2 {
    --span-width: 20px;
    --span-height: 1.3px;
    --transition-dur: 250ms;

    position: relative;
    width: 40.6px;
    height: 32.6px;

    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, .05);
}

.style2 .one, .style2 .two, .style2 .three {
    position: absolute;
    left: calc(50% - 10.15px);
    width: var(--span-width);
    height: var(--span-height);
    border-radius: 1px;
    background-color: white;
    transition-property: top, transform;
    transition-duration: var(--transition-dur);
}

.style2 .one {
    top: calc(50% - 3px);
}

.style2 .two {
    top: calc(50% + 3px);
}

.style2 .three {
    display: none;
}

.menu__state_open_style2 .one {
    top: 50%;
    transform: rotate(45deg);
}

.menu__state_open_style2 .two {
    top: 50%;
    transform: rotate(-45deg);
}