.card {
    width: 250px;
    height: 350px;
    padding-top: 10px;
    background-color: #f8f3df;
    grid-template-columns:  auto 1fr;
    color: black;
    display: grid;
    /*bordersettings*/
    border-style: solid;
    border-radius: var(--border-radius);
    border-width: 2px;
    border-color: #f2ab6a;
    padding-bottom: 10px;
}

.card_image {
  grid-area: 1/1;
  border-radius: var(--border-radius);
    padding: 0 10px;
}

.card_bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-area: 2/1;
    height: auto;
    allign-items: center;
    justify-content: space-between;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
}

.card_info {
    grid-area: 3/1;

}

.card_like {
    height: 100px;
    width: 100px;
}

.card_title {
  font-size: 1.5em;
  font-weight: 600;
    width: 70%;
}

.card_description {
  font-size: 1em;
  font-weight: 500;
}

