#footer {
    padding: var(--section-padding-top) var(--section-padding-sides);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto min-content;
    column-gap: clamp(25px, 10vw, 150px);
    background-color: var(--color-grey-primary);
}

/* Logo */
#logoWrap {
    position: relative;
    width: clamp(200px, 25vw, 300px);
    aspect-ratio: 19 / 6;
}

#logo {
    object-fit: contain;
}

/* Section */
.section {
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 5px;
}

.title {
    font-weight: 600;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Disclosure */
#disclosureContainer {
    grid-area: 2 / 1 / 3 / 5;
    padding: .3em var(--section-padding-sides);
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: black;
}



@media only screen and (max-width: 576px) {
    #footer {
        grid-template-columns: 1fr;
        row-gap: 5vh;
    }
}

