.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
    height: 80vh;
}
.headmast {
  grid-area: 1 / 1 / 3 / 6;
  background-color: #5CB8FF
}
.headmast_text {
  grid-area: 1 / 2 / 3 / 5;
  background-color: #101935;
}
.top_picks {
  grid-area: 3 / 2 / 5 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 10px;
}
.listing_wrapper {
  display: grid;
    align-items: center;
    justify-content: center;
}
.listing {
  width: 260px;
  height: 350px;
}

@media only screen and (max-width: 992px) {
  .listing {
    width: 170px;
    height: 300px;
  }



}
@media only screen and (max-width: 600px) {
   
  #toppick_1 {
    grid-area: 2/1;
  }
  #toppick_2 {
    grid-area: 3/1;
  }
  #toppick_3 {
    grid-area: 4/1;
  }
  .top_picks {
    grid-template-columns: auto;
  }


}

